/* Cert Link Styles */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    box-sizing: border-box;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    box-sizing: border-box;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.6666667%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.6666667%;
}
input {width: 100%;}
.user-name-results {padding-left: 20px;}
.a-user, .a-wksrec {cursor: pointer; padding: 3px 10px;}
.a-user:hover, .a-wksrec: hover; {background: #28D484;}
.a-user.chosen, .a-wksrec.chosen {background: #198754; color: #fff;}
.user-name-results, .wksrec-name-results {height: 300px; overflow-x: auto; border: 1px solid #ddd; border-radius: 3px;}